<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Elad. it used from mapbox.com and darksky.net!</p>
        <img class="portrial" src="/img/2019.png">
    </div>
    
    {{>footer}}
</body>

</html>